In [1]:
from core import Core
import time

In [2]:
c = Core()

In [3]:
query = '''SELECT A1.a AS a1, A2.c
FROM T A1, T A2, K B1
WHERE A1.a = A2.b
ORDER BY A1.a DESC'''

q1 = c.parser.parse(query)
q1

{'query': {'select': {'columns': ['a1', 'a2.c'],
   'aggr_func': [],
   'distinct': []},
  'from': ['a1', 'a2', 'b1'],
  'where': {'joins': [['a1.a', '=', 'a2.b']], 'conditions': []},
  'groupby': [],
  'orderby': [['a1.a', False]]},
 'tables': {'a1': 't', 'a2': 't', 'b1': 'k'},
 'columns': {'a1': 'a1.a', 'a2.c': 'a2.c'}}

In [4]:
c = Core()
c._create_table('A', ['a', 'b'], ['int', 'int'], None, None)
c._create_table('B', ['a', 'b'], ['int', 'int'], None, None)
c._create_table('C', ['a', 'b'], ['int', 'int'], None, None)
c._create_table('D', ['a', 'b'], ['int', 'int'], None, None)

0

In [5]:
for i in range(1, 1001):
    c.tables['A']._insert((i, i))
    c.tables['B']._insert((i, 1))
for i in range(1, 10001):
    c.tables['C']._insert((i, i))
    c.tables['D']._insert((i, 1))

In [10]:
c.execute_create_index(q1)

0

In [11]:
'''
SELECT *
FROM A, B
WHERE A.a = C.a
'''

join_script = {
    'query': {
        'select': {
            'columns': ['A.a', 'A.b', 'C.a', 'C.b'],
            'aggr_func': [],
            'distinct': [],
        },
        'from': ['A', 'B'],
        'where': {
            'joins': [['A.a', '>', 'C.a']],
            'conditions': []
        },
        'groupby': [],
        'orderby': [],
    },
    'tables': {
        'A': 'A',
        'C': 'C',
    },
    'columns': {
        'A.a': 'A.a',
        'A.b': 'A.b',
        'C.a': 'C.a',
        'C.b': 'C.b',
    },
}
t = time.time()
r = c.execute_select(join_script)
print(time.time() - t)
r.head()

0.8585083484649658
Table <1575252028.6677814>
4 columns, 498501 rows
['A.a: int', 'A.b: int', 'C.a: int', 'C.b: int']
0 (3, 3, 1, 1)
1 (4, 4, 1, 1)
2 (4, 4, 2, 2)
3 (5, 5, 1, 1)
4 (5, 5, 2, 2)

In [ ]:
'''
SELECT *
FROM B B1, C C2
WHERE B1.a = C2.a
'''

join_script = {
    'query': {
        'select': {
            'columns': ['B.a', 'B.b', 'C.a', 'C.b'],
            'aggr_func': [],
            'distinct': [],
        },
        'from': ['B','C'],
        'where': {
            'joins': [['B.a', '=', 'C.a']],
            'conditions': []
        },
        'groupby': [],
        'orderby': [],
    },
    'tables': {
        'B': 'B',
        'C': 'C',
    },
    'columns': {
        'B.a': 'B.a',
        'B.b': 'B.b',
        'C.a': 'C.a',
        'C.b': 'C.b',
    },
}
c.execute_select(join_script).printall()

In [ ]:
'''
SELECT SUM(a)
FROM A
'''

join_script = {
    'query': {
        'select': {
            'columns': ['a'],
            'aggr_func': ['sum', 'a'],
            'distinct': [],
        },
        'from': ['A'],
        'where': {
            'joins': [],
            'conditions': []
        },
        'groupby': [],
        'orderby': [],
    },
    'tables': {
        'A': 'A',
    },
    'columns': {
        'a': 'a',
    },
}
c.execute_select(join_script).printall()