In [1]:
from src.table import Table
from core import Core
from copy import deepcopy

### Load DB file

In [2]:
c = Core()
c.head_lines = 5
c.return_time = True
c.printall = False
c._load_db('test.db')

0

In [3]:
q = '''
use defaultdb
'''
c.handler(q)

Executing queries takes 0.0 seconds.

### Simple queries

In [4]:
q = '''
SELECT * FROM A
'''
c.handler(q)

Table <1575292466.4458039>
2 columns, 1000 rows
['a', 'b']
(1, 1)
(2, 1)
(3, 1)
(4, 1)
(5, 1)
Executing queries takes 0.13230538368225098 seconds.

### Joins

In [5]:
q = '''
SELECT *
FROM A, B
WHERE A.a = B.a
'''
c.handler(q)

Table <1575292466.6027281>
4 columns, 1000 rows
['a.a', 'a.b', 'b.a', 'b.b']
(1, 1, 1, 1)
(2, 1, 2, 2)
(3, 1, 3, 3)
(4, 1, 4, 4)
(5, 1, 5, 5)
Executing queries takes 0.14792203903198242 seconds.

In [6]:
q = '''
SELECT *
FROM A A1, A A2
WHERE A1.a > A2.a
'''
c.handler(q)

Table <1575292467.283425>
4 columns, 499500 rows
['a1.a', 'a1.b', 'a2.a', 'a2.b']
(2, 1, 1, 1)
(3, 1, 1, 1)
(3, 1, 2, 1)
(4, 1, 1, 1)
(4, 1, 2, 1)
Executing queries takes 0.6966836452484131 seconds.

In [7]:
q = '''
SELECT A.a, C.a
FROM A, C
WHERE A.a > C.a
'''
c.handler(q)

Table <1575292468.1231256>
2 columns, 499500 rows
['a.a', 'c.a']
(2, 1)
(3, 1)
(3, 2)
(4, 1)
(4, 2)
Executing queries takes 0.7987315654754639 seconds.

### Index

In [14]:
q = '''
CREATE INDEX a1 ON A (a)
'''
c.handler(q)

Executing queries takes 0.02898263931274414 seconds.

In [15]:
q = '''
SELECT A.a, C.a
FROM A, C
WHERE A.a > C.a
'''
c.handler(q)

Table <1575292469.8569381>
2 columns, 499500 rows
['a.a', 'c.a']
(2, 1)
(3, 1)
(3, 2)
(4, 1)
(4, 2)
Executing queries takes 1.0429646968841553 seconds.

### Create table & Foreign key constraints

In [8]:
q = '''
CREATE TABLE E (
    a int, 
    b int,
    PRIMARY KEY (b),
    FOREIGN KEY a REFERENCES A(a) ON DELETE CASCADE,
);
CREATE TABLE F (
    a int, 
    b int,
    PRIMARY KEY (b),
    FOREIGN KEY a REFERENCES B(a) ON DELETE NO ACTION,
)



'''
c.handler(q)

Executing queries takes 0.00099945068359375 seconds.

In [9]:
q = '''
INSERT INTO E
VALUES (1, 2);

INSERT INTO F
VALUES (2, 5)
'''
c.handler(q)

Executing queries takes 0.0 seconds.

In [10]:
q = '''
DELETE FROM A
WHERE a = 1
'''
c.handler(q)

Executing queries takes 0.0 seconds.

In [11]:
q = '''
SELECT * FROM A;

SELECT * FROM E
'''
c.handler(q)

Table <1575292468.3272638>
2 columns, 999 rows
['a', 'b']
(2, 1)
(3, 1)
(4, 1)
(5, 1)
(6, 1)
Table <1575292468.444198>
2 columns, 0 rows
['a', 'b']
Executing queries takes 0.24811625480651855 seconds.

In [12]:
q = '''
DELETE FROM B
WHERE a = 2
'''
c.handler(q)

Executing queries takes 0.0010013580322265625 seconds.

In [13]:
q = '''
SELECT * FROM B;
SELECT * FROM F
'''
c.handler(q)

Table <1575292468.6131005>
2 columns, 1000 rows
['a', 'b']
(1, 1)
(2, 2)
(3, 3)
(4, 4)
(5, 5)
Table <1575292468.7920003>
2 columns, 1 rows
['a', 'b']
(2, 5)
Executing queries takes 0.3208138942718506 seconds.