In [1]:
from src.table import Table
from core import Core

In [2]:
c = Core()
c._create_table('T', ['a', 'b', 'c'], ['int', 'int', 'int'], 'b', None)
c._create_table('K', ['a', 'b', 'c'], ['int', 'int', 'int'], 'c', ['b', 'T', 'b', Table.ONDELETE_NOACTION])

0

In [3]:
c.tables['T']._insert((1,2,3))
c.tables['T']._insert((1,5,3))
c.tables['T']._insert((1,12,100))
c.tables['T']._insert((2,13,100))
c.tables['T']._insert((5,176,100))
c.tables['T']._insert((2,15,100))
c.tables['T']._insert((777,124124,101242140))
c.tables['K']._insert((2,2,1))
c.tables['K']._insert((2,4,3))
c.tables['K']._insert((1,99,5))
c.tables['K']._insert((2,12,100))
c.tables['K']._insert((5,176,150))
c.tables['K']._insert((5,-1,110))
c.tables['K']._insert((5,0,17))

0

In [4]:
delete_d = {
    'from': 'T',
    'where': ['c', '=', 101242140]
}
c.execute_delete(delete_d)

['b', 'T', 'b', 3]
[(777, 124124, 101242140)] 1 1
Table <T>
Primary key: ['b']
['a: int', 'b: int', 'c: int']
(2,) (1, 2, 3)
(5,) (1, 5, 3)
(12,) (1, 12, 100)
(13,) (2, 13, 100)
(176,) (5, 176, 100)
(15,) (2, 15, 100)
(124124,) (777, 124124, 101242140)

-1

In [5]:
c.tables['T'].printall()

Table <T>
Primary key: ['b']
['a: int', 'b: int', 'c: int']
(2,) (1, 2, 3)
(5,) (1, 5, 3)
(12,) (1, 12, 100)
(13,) (2, 13, 100)
(176,) (5, 176, 100)
(15,) (2, 15, 100)
(124124,) (777, 124124, 101242140)

In [6]:
c.tables['K'].printall()

Table <K>
Primary key: ['c']
['a: int', 'b: int', 'c: int']
(1,) (2, 2, 1)
(3,) (2, 4, 3)
(5,) (1, 99, 5)
(100,) (2, 12, 100)
(150,) (5, 176, 150)
(110,) (5, -1, 110)
(17,) (5, 0, 17)

In [20]:
(q2['ORDERBY'])[0]

['T.a']

In [21]:
def is_val(x):
    try:
        float(x)
        return True
    except:
        return False

def parse_where(s):
    '''
    s is a list of tokens
    '''
    i = 0
    d = {'joins': [], 'conditions': []}
    last_junction = None
    while i < len(s):
        if s[i].upper() in ['AND', 'OR']:
            last_junction = s[i].upper()
            i += 1
        op0, op1, op2 = s[i], s[i+1], s[i+2]
        if is_val(op2):
            if last_junction:
                d['conditions'].append([last_junction, [op0, op1, op2]])
            else:
                d['conditions'].append(['AND', [op0, op1, op2]])
        else:
            d['joins'].append([op0, op1, op2])
        i += 3
    return d

In [22]:
s = 'A.a > 1 AND A.a = B.b AND A.c = 1 or B.d < 56 AND A.e = 1 AND A.g = C.p'
s = s.split()
parse_where(s)

{'joins': [['A.a', '=', 'B.b'], ['A.g', '=', 'C.p']],
 'conditions': [['AND', ['A.a', '>', '1']],
  ['AND', ['A.c', '=', '1']],
  ['OR', ['B.d', '<', '56']],
  ['AND', ['A.e', '=', '1']]]}

In [23]:
'''
SELECT A1.a AS a1, A2.c
FROM T A1, T A2, K B1
WHERE A1.a = A2.b AND A1.a > B1.b AND A1.a = 1 OR A1.a = 2
ORDER BY A1.a
'''

q3 = {
    'query': {
        'select': {
            'columns': ['a1', 'A2.c'],
            'aggr_func': [],
            'distinct': [],
        },
        'from': ['A1', 'A2', 'B1'],
        'where': {
            'joins': [['A1.a', '=', 'A2.b'], ['A1.a', '>', 'B1.b']],
            'conditions': [['AND', ['A1.a', '>', '2']], ['OR', ['B1.b', '=', '5']]]
        },
        'groupby': [],
        'orderby': [['A1.a'], True],
    },
    'tables': {
        'A1': 'T',
        'A2': 'T',
        'B1': 'K',
    },
    'columns': {
        'a1': 'A1.a',
        'A2.c': 'A2.c',
    },
}

In [24]:
c.execute(q3).printall()

Table <1575169066.785649>
Primary key: []
['A1.a: int', 'A1.b: int', 'A1.c: int', 'A2.a: int', 'A2.b: int', 'A2.c: int', 'B1.a: int', 'B1.b: int', 'B1.c: int']
0 (5, 176, 100, 1, 5, 3, 2, 4, 3)
1 (5, 176, 100, 1, 5, 3, 5, -1, 110)
2 (5, 176, 100, 1, 5, 3, 5, 0, 17)
Table <1575169066.785649>
Primary key: []
['a1: int', 'A2.c: int']
0 (5, 3)
1 (5, 3)
2 (5, 3)

In [25]:
c.tables['T']._union(c.tables['K']).printall()

Table <1575169067.320679>
Primary key: []
['a: int', 'b: int', 'c: int']
0 (1, 2, 3)
1 (1, 5, 3)
2 (1, 12, 100)
3 (2, 13, 100)
4 (5, 176, 100)
5 (2, 15, 100)
6 (777, 124124, 101242140)
7 (2, 4, 3)
8 (1, 99, 5)
9 (2, 12, 100)
10 (5, 176, 150)
11 (5, -1, 110)
12 (5, 0, 17)

In [26]:
c.tables['T']._join(c.tables['T'], ['a', '=', 'b'], override_colname = Table.OVERRIDE_COLNAME_BOTH).printall()

Table <1575169069.465724>
Primary key: []
['T.a: int', 'T.b: int', 'T.c: int', 'T.a: int', 'T.b: int', 'T.c: int']
0 (2, 13, 100, 1, 2, 3)
1 (5, 176, 100, 1, 5, 3)
2 (2, 15, 100, 1, 2, 3)

In [27]:
c.tables['T'].printall()
c.tables['K'].printall()

Table <T>
Primary key: ['b']
['a: int', 'b: int', 'c: int']
(2,) (1, 2, 3)
(5,) (1, 5, 3)
(12,) (1, 12, 100)
(13,) (2, 13, 100)
(176,) (5, 176, 100)
(15,) (2, 15, 100)
(124124,) (777, 124124, 101242140)
Table <K>
Primary key: ['c']
['a: int', 'b: int', 'c: int']
(3,) (2, 4, 3)
(5,) (1, 99, 5)
(100,) (2, 12, 100)
(150,) (5, 176, 150)
(110,) (5, -1, 110)
(17,) (5, 0, 17)