In [1]:
from src.table import Table
from core import Core
from copy import deepcopy

In [2]:
c = Core()
c._create_table('T', ['a', 'b', 'c'], ['int', 'int', 'int'], 'b', None)
c._create_table('K', ['a', 'b', 'c'], ['int', 'int', 'int'], 'c', ['b', 'T', 'b', Table.ONDELETE_NOACTION])

create_script = {
    'name': 'M',
    'col_names': ['a', 'b', 'c', 'd'],
    'dtype': ['int', 'int', 'int', 'int'],
    'primary_key': ['a', 'b'],
    'foreign_key': ['c', 'T', 'a', 'NOACTION'],
    
}
c.execute_create_table(create_script)

0

In [3]:
c.tables['T']._insert((1,2,3))
c.tables['T']._insert((1,5,3))
c.tables['T']._insert((1,12,100))
c.tables['T']._insert((2,13,100))
c.tables['T']._insert((5,176,100))
c.tables['T']._insert((2,15,100))
c.tables['T']._insert((777,124124,101242140))
c.tables['K']._insert((2,2,1))
c.tables['K']._insert((2,4,3))
c.tables['K']._insert((1,99,5))
c.tables['K']._insert((2,12,100))
c.tables['K']._insert((5,176,150))
c.tables['K']._insert((5,-1,110))
c.tables['K']._insert((5,0,17))


insert_script = {
    'insert_into': 'M',
    'values': [
        (1,2,3,4),
        (2,3,4,5),
        (4,5,6,7),
        (6,7,8,9)
    ],
}
c.execute_insert(insert_script)

0

In [4]:
delete_d = {
    'from': 'T',
    'where': ['c', '=', 3]
}
c.execute_delete(delete_d)

Table <K>
Primary key: ['c']
['a: int', 'b: int', 'c: int']
(1,) (2, 2, 1)
(3,) (2, 4, 3)
(5,) (1, 99, 5)
(100,) (2, 12, 100)
(150,) (5, 176, 150)
(110,) (5, -1, 110)
(17,) (5, 0, 17)

-1

In [5]:
c.tables['T'].printall()
c.tables['K'].printall()
c.tables['M'].printall()

Table <T>
Primary key: ['b']
['a: int', 'b: int', 'c: int']
(2,) (1, 2, 3)
(5,) (1, 5, 3)
(12,) (1, 12, 100)
(13,) (2, 13, 100)
(176,) (5, 176, 100)
(15,) (2, 15, 100)
(124124,) (777, 124124, 101242140)
Table <K>
Primary key: ['c']
['a: int', 'b: int', 'c: int']
(1,) (2, 2, 1)
(3,) (2, 4, 3)
(5,) (1, 99, 5)
(100,) (2, 12, 100)
(150,) (5, 176, 150)
(110,) (5, -1, 110)
(17,) (5, 0, 17)
Table <M>
Primary key: ['a', 'b']
['a: int', 'b: int', 'c: int', 'd: int']
(1, 2) (1, 2, 3, 4)
(2, 3) (2, 3, 4, 5)
(4, 5) (4, 5, 6, 7)
(6, 7) (6, 7, 8, 9)

In [6]:
query = '''SELECT A1.a AS a1, A2.c
FROM T A1, T A2, K B1
WHERE A1.a = A2.b
ORDER BY A1.a DESC'''

q1 = c.parser.parse(query)
q1

{'query': {'select': {'columns': ['a1', 'a2.c'],
   'aggr_func': [],
   'distinct': []},
  'from': ['a1', 'a2', 'b1'],
  'where': {'joins': [['a1.a', '=', 'a2.b']], 'conditions': []},
  'groupby': [],
  'orderby': [['a1.a', False]]},
 'tables': {'a1': 't', 'a2': 't', 'b1': 'k'},
 'columns': {'a1': 'a1.a', 'a2.c': 'a2.c'}}

In [7]:
'''
SELECT A1.a AS a1, A2.c
FROM T A1, T A2, K B1
WHERE A1.a = A2.b AND A1.a > B1.b AND A1.a = 1 OR A1.a = 2
ORDER BY A1.a DESC
'''

q3 = {
    'query': {
        'select': {
            'columns': ['a1', 'A2.c'],
            'aggr_func': [],
            'distinct': [],
        },
        'from': ['A1', 'A2', 'B1'],
        'where': {
            'joins': [['A1.a', '=', 'A2.b'], ['A1.a', '>', 'B1.b']],
            'conditions': [['AND', ['A1.a', '>', '2']], ['OR', ['B1.b', '=', '5']]]
        },
        'groupby': [],
        'orderby': [['A1.a'], True],
    },
    'tables': {
        'A1': 'T',
        'A2': 'T',
        'B1': 'K',
    },
    'columns': {
        'a1': 'A1.a',
        'A2.c': 'A2.c',
    },
}

'''
SELECT SUM(a) AS a1
FROM T
GROUP BY a, c
ORDER BY a
'''

q4 = {
    'query': {
        'select': {
            'columns': ['a1', 'b' ,'c'],
            'aggr_func': ['sum', 'a1'],
            'distinct': [],
        },
        'from': ['T'],
        'where': {
            'joins': [],
            'conditions': []
        },
        'groupby': ['b', 'c'],
        'orderby': [['a'], False],
    },
    'tables': {
        'T' : 'T',
    },
    'columns': {
        'a1': 'a',
        'b': 'b',
        'c': 'c',
    },
}

q5 = {
    'query': {
        'select': {
            'columns': ['*'],
            'aggr_func': [],
            'distinct': [],
        },
        'from': ['T'],
        'where': {
            'joins': [],
            'conditions': []
        },
        'groupby': [],
        'orderby': [],
    },
    'tables': {
        'T' : 'T',
    },
    'columns': {
        'a': 'a',
        'b': 'b',
        'c': 'c',
    },
}

In [13]:
c.execute_select(q1).printall()

KeyError: False

In [12]:
print(q3)
print(q1)

{'query': {'select': {'columns': ['a1', 'A2.c'], 'aggr_func': [], 'distinct': []}, 'from': ['A1', 'A2', 'B1'], 'where': {'joins': [['A1.a', '=', 'A2.b'], ['A1.a', '>', 'B1.b']], 'conditions': [['AND', ['A1.a', '>', 2.0]], ['OR', ['B1.b', '=', 5.0]]]}, 'groupby': [], 'orderby': [['A1.a'], True]}, 'tables': {'A1': <src.table.Table object at 0x000002C9AC809D68>, 'A2': <src.table.Table object at 0x000002C9AC8099E8>, 'B1': <src.table.Table object at 0x000002C9AC809D68>}, 'columns': {'a1': 'A1.a', 'A2.c': 'A2.c'}}
{'query': {'select': {'columns': ['a1', 'a2.c'], 'aggr_func': [], 'distinct': []}, 'from': ['a1', 'a2', 'b1'], 'where': {'joins': [['a1.a', '=', 'a2.b']], 'conditions': []}, 'groupby': [], 'orderby': [['a1.a', False]]}, 'tables': {'a1': <src.table.Table object at 0x000002C9AC7D4F28>, 'a2': <src.table.Table object at 0x000002C9AC7D4F28>, 'b1': 'k'}, 'columns': {'a1': 'a1.a', 'a2.c': 'a2.c'}}

In [10]:
another_q4 = deepcopy(q4)
c.execute_select(q4).printall()
c.execute_select(another_q4).formatout()

Table <1575241527.232309>
Primary key: []
['SUM(a): float', 'b: int', 'c: int']
0 (1, 3, 2)
1 (1, 3, 5)
2 (1, 100, 12)
3 (2, 100, 13)
4 (2, 100, 15)
5 (5, 100, 176)
6 (777, 101242140, 124124)
SUM(a) b c

1 3 2

1 3 5

1 100 12

2 100 13

2 100 15

5 100 176

777 101242140 124124

In [11]:
another_q5 = deepcopy(q5)
c.execute_select(q5).printall()
c.execute_select(another_q5).formatout()

Table <1575241527.2512987>
Primary key: []
['a: int', 'b: int', 'c: int']
(2,) (1, 2, 3)
(5,) (1, 5, 3)
(12,) (1, 12, 100)
(13,) (2, 13, 100)
(176,) (5, 176, 100)
(15,) (2, 15, 100)
(124124,) (777, 124124, 101242140)
a b c

1 2 3

1 5 3

1 12 100

2 13 100

2 15 100

5 176 100

777 124124 101242140

In [12]:
c.tables['T']._union(c.tables['K']).printall()

Table <1575241527.2682962>
Primary key: []
['a: int', 'b: int', 'c: int']
0 (1, 2, 3)
1 (1, 5, 3)
2 (1, 12, 100)
3 (2, 13, 100)
4 (5, 176, 100)
5 (2, 15, 100)
6 (777, 124124, 101242140)
7 (2, 2, 1)
8 (2, 4, 3)
9 (1, 99, 5)
10 (2, 12, 100)
11 (5, 176, 150)
12 (5, -1, 110)
13 (5, 0, 17)

In [13]:
c.tables['T']._join(c.tables['T'], ['a', '=', 'b'], override_colname = Table.OVERRIDE_COLNAME_BOTH).printall()

Table <1575241527.2832892>
Primary key: []
['T.a: int', 'T.b: int', 'T.c: int', 'T.a: int', 'T.b: int', 'T.c: int']
0 (2, 13, 100, 1, 2, 3)
1 (5, 176, 100, 1, 5, 3)

In [14]:
c.tables['T'].printall()
c.tables['K'].printall()

Table <T>
Primary key: ['b']
['a: int', 'b: int', 'c: int']
(2,) (1, 2, 3)
(5,) (1, 5, 3)
(12,) (1, 12, 100)
(13,) (2, 13, 100)
(176,) (5, 176, 100)
(15,) (2, 15, 100)
(124124,) (777, 124124, 101242140)
Table <K>
Primary key: ['c']
['a: int', 'b: int', 'c: int']
(1,) (2, 2, 1)
(3,) (2, 4, 3)
(5,) (1, 99, 5)
(100,) (2, 12, 100)
(150,) (5, 176, 150)
(110,) (5, -1, 110)
(17,) (5, 0, 17)