### Keyword Search Unit Test

In [1]:
from core import Core

In [2]:
c = Core()

In [3]:
from src.table import Table

In [4]:
c.trie.search('add123')

False

In [5]:
c.trie.search('=')

'$'

In [6]:
c.trie.startsWith('add')

True

In [7]:
c.trie.startsWith('<')

True

In [8]:
c.trie.startsWith('AND')

True

### Parser Unit Test

In [9]:
list(c.parser._split('SELECT A FROM B WHERE A.b = 123'))

[<Symbol: SELECT, Length: 6, Type: Keyword>,
 <Symbol: A, Length: 1, Type: Identifier>,
 <Symbol: FROM, Length: 4, Type: Keyword>,
 <Symbol: B, Length: 1, Type: Identifier>,
 <Symbol: WHERE, Length: 5, Type: Keyword>,
 <Symbol: A.b, Length: 3, Type: Identifier>,
 <Symbol: =, Length: 1, Type: Operator>,
 <Symbol: 123, Length: 3, Type: Value>]

### Table Unit Test

In [10]:
from src.table import Table

In [11]:
t = Table(name = 't', col_names = ['a', 'b', 'c'], dtype = ['int', 'int', 'int'], primary_key = 'b', tuples = {3: (1, 3, 9)})

In [12]:
t._insert((1,2,3))
t._insert((1,5,3))
t._insert((1,12,100))
t._insert((2,13,100))
t._insert((5,176,100))
t._insert((2,15,100))
t._insert((777,124124,101242140))

0

In [13]:
k = Table(name = 'k', col_names = ['a', 'b', 'c'], dtype = ['int', 'int', 'int'], primary_key = 'b', tuples = {11: (2, 11, 9)})
k._insert((2,4,3))
k._insert((2,99,3))
k._insert((2,12,100))

0

In [14]:
# dtype conflict
t._insert(('a', 'b', 'c'))

-1

In [15]:
# Primary key conflict
t._insert((1,2,3))

Key not in dist!

-1

In [16]:
t.printall()

Table <t>
Primary key: b
['a: int', 'b: int', 'c: int']
3 (1, 3, 9)
2 (1, 2, 3)
5 (1, 5, 3)
12 (1, 12, 100)
13 (2, 13, 100)
176 (5, 176, 100)
15 (2, 15, 100)
124124 (777, 124124, 101242140)

In [17]:
t._project(['b', '>', 2], alias = 'N').printall()

Table <1575161620.4780254>
Primary key: None
['a: int', 'b: int', 'c: int']
3 (1, 3, 9)
5 (1, 5, 3)
12 (1, 12, 100)
13 (2, 13, 100)
176 (5, 176, 100)
15 (2, 15, 100)
124124 (777, 124124, 101242140)

In [18]:
t._select(['a', 'b'], alias = 'M').printall()

Table <1575161620.6509316>
Primary key: None
['a: int', 'b: int']
3 (1, 3)
2 (1, 2)
5 (1, 5)
12 (1, 12)
13 (2, 13)
176 (5, 176)
15 (2, 15)
124124 (777, 124124)

In [19]:
newT = t._join(k, ['b', '>', 'b'], mode = Table.JOIN_NESTEDLOOP).printall()

Table <1575161620.8299787>
Primary key: None
['a: int', 'b: int', 'c: int', 'a: int', 'b: int', 'c: int']
0 (1, 5, 3, 2, 4, 3)
1 (1, 12, 100, 2, 11, 9)
2 (1, 12, 100, 2, 4, 3)
3 (2, 13, 100, 2, 11, 9)
4 (2, 13, 100, 2, 4, 3)
5 (2, 13, 100, 2, 12, 100)
6 (5, 176, 100, 2, 11, 9)
7 (5, 176, 100, 2, 4, 3)
8 (5, 176, 100, 2, 99, 3)
9 (5, 176, 100, 2, 12, 100)
10 (2, 15, 100, 2, 11, 9)
11 (2, 15, 100, 2, 4, 3)
12 (2, 15, 100, 2, 12, 100)
13 (777, 124124, 101242140, 2, 11, 9)
14 (777, 124124, 101242140, 2, 4, 3)
15 (777, 124124, 101242140, 2, 99, 3)
16 (777, 124124, 101242140, 2, 12, 100)

In [20]:
# SELECT b
# FROM t
# ORDER BY a

t._select(['a', 'b', 'c'], orderby = [['a', 'b'], False]).printall()

Table <1575161621.0389671>
Primary key: None
['a: int', 'b: int', 'c: int']
0 (1, 2, 3)
1 (1, 3, 9)
2 (1, 5, 3)
3 (1, 12, 100)
4 (2, 13, 100)
5 (2, 15, 100)
6 (5, 176, 100)
7 (777, 124124, 101242140)

In [21]:
# SELECT *
# FROM t
# GROUPBY a, c

t._select(['a', 'b', 'c'], groupby = ['a', 'c']).printall()

Table <1575161621.4988205>
Primary key: None
['a: int', 'b: int', 'c: int']
(9, 1) (9, 3, 1)
(3, 1) (3, 5, 1)
(100, 1) (100, 12, 1)
(100, 2) (100, 15, 2)
(100, 5) (100, 176, 5)
(101242140, 777) (101242140, 124124, 777)

In [22]:
t._select(['a', 'b' ,'c'], groupby = ['b', 'c']).printall()

Table <1575161621.862802>
Primary key: None
['a: int', 'b: int', 'c: int']
(3, 1) (9, 3, 1)
(2, 1) (3, 2, 1)
(5, 1) (3, 5, 1)
(12, 1) (100, 12, 1)
(13, 2) (100, 13, 2)
(176, 5) (100, 176, 5)
(15, 2) (100, 15, 2)
(124124, 777) (101242140, 124124, 777)

In [23]:
# SELECT SUM(a)
# FROM t
t._select(['a', 'b', 'c'], aggr_func = ['count', 'b'], groupby = ['a', 'c']).printall()

Table <1575161622.4685757>
Primary key: None
['a: int', 'COUNT(b): int', 'c: int']
(9, 1) (9, 1, 1)
(3, 1) (3, 2, 1)
(100, 1) (100, 1, 1)
(100, 2) (100, 2, 2)
(100, 5) (100, 1, 5)
(101242140, 777) (101242140, 1, 777)

In [24]:
t._select(['a', 'b', 'c'], aggr_func = ['avg', 'b'], groupby = ['a', 'c']).printall()

Table <1575161623.3259692>
Primary key: None
['a: int', 'AVG(b): float', 'c: int']
(9, 1) (9, 3.0, 1)
(3, 1) (3, 3.5, 1)
(100, 1) (100, 12.0, 1)
(100, 2) (100, 14.0, 2)
(100, 5) (100, 176.0, 5)
(101242140, 777) (101242140, 124124.0, 777)

In [25]:
t._select(['a', 'b', 'c'], aggr_func = ['sum', 'b'], groupby = ['a', 'c']).printall()

Table <1575161648.5959694>
Primary key: None
['a: int', 'SUM(b): float', 'c: int']
(9, 1) (9, 3, 1)
(3, 1) (3, 7, 1)
(100, 1) (100, 12, 1)
(100, 2) (100, 28, 2)
(100, 5) (100, 176, 5)
(101242140, 777) (101242140, 124124, 777)

In [ ]:
t._project(['a', '=', 1]).printall()

### Core Tests

In [ ]:
from core import Core
from src.table import Table
c = Core()

In [ ]:
c._create_table('T', ['a', 'b', 'c'], ['int', 'int', 'int'], 'b', None)
c._create_table('K', ['a', 'b', 'c'], ['int', 'int', 'int'], 'c', ['b', 'T', 'b', Table.ONDELETE_NOACTION])

In [ ]:
c.tables

In [ ]:
c._drop_table('T', True)
c._drop_table('T', True)
c.tables