In [1]:
from src.table import Table

In [2]:
d = {
    'SELECT': [[None, 'a'], [None, 'b']],
    'FROM': ['t'],
    'WHERE': ['a', '=', 1],
    'ORDERBY': ['a', False],
    'GROUPBY': None,
}

In [3]:
t = Table(name = 't', col_names = ['a', 'b', 'c'], dtype = ['int', 'int', 'int'], primary_key = 'b', tuples = {3: (1, 3, 9)})
t._insert((1,2,3))
t._insert((1,5,3))
t._insert((1,12,100))
t._insert((2,13,100))
t._insert((5,176,100))
t._insert((2,15,100))
t._insert((777,124124,101242140))

0

In [4]:
t.printall()

Primary key: b
['a: int', 'b: int', 'c: int']
3 (1, 3, 9)
2 (1, 2, 3)
5 (1, 5, 3)
12 (1, 12, 100)
13 (2, 13, 100)
176 (5, 176, 100)
15 (2, 15, 100)
124124 (777, 124124, 101242140)

In [5]:
def execute(d: dict, t):
    if len(d['FROM']) == 1:
        extract_cols = [i[1] for i in d['SELECT']]
        aggr_func = None
        distinct_flag = None
        for i in d['SELECT']:
            if i[0] and (i[0] != 'DISTINCT'):
                aggr_func = i
            elif i[0] and (i[0] == 'DISTINCT'):
                distinct_flag = i
        sel = t._select(col_names = extract_cols, distinct = distinct_flag, aggr_func = aggr_func, orderby = d['ORDERBY'], groupby = d['GROUPBY'])
        return sel._project(d['WHERE'])

In [6]:
execute(d, t).printall()

Primary key: None
['a: int']
0 (1, 3)
1 (1, 2)
2 (1, 5)
3 (1, 12)

In [7]:
[i for i in d['SELECT']]

[[None, 'a'], [None, 'b']]