In [1]:
from src.table import Table
from core import Core

In [2]:
q1 = {
    'SELECT': [[None, 'a'], [None, 'b']],
    'FROM': [['T', None]],
    'WHERE': [['a', '=', 1]],
    'ORDERBY': ['a', False],
    'GROUPBY': None,
}
q2 = {
    'SELECT': [[None, 'T.a'], [None, 'T.b'], [None, 'k1.a']],
    'FROM': [['T', None], ['K', 'k1']],
    'WHERE': [['T.a', '=' ,'K.a']],
    'ORDERBY': [['T.a'], False],
    'GROUPBY': None,
}
q3 = {
    'query': []
}

In [3]:
c = Core()
c._create_table('T', ['a', 'b', 'c'], ['int', 'int', 'int'], 'b', None)
c._create_table('K', ['a', 'b', 'c'], ['int', 'int', 'int'], 'c', ['b', 'T', 'b', Table.ONDELETE_NOACTION])

0

In [4]:
c.tables['T']._insert((1,2,3))
c.tables['T']._insert((1,5,3))
c.tables['T']._insert((1,12,100))
c.tables['T']._insert((2,13,100))
c.tables['T']._insert((5,176,100))
c.tables['T']._insert((2,15,100))
c.tables['T']._insert((777,124124,101242140))
c.tables['K']._insert((2,4,3))
c.tables['K']._insert((1,99,5))
c.tables['K']._insert((2,12,100))
c.tables['K']._insert((5,176,150))
c.tables['K']._insert((5,-1,110))
c.tables['K']._insert((5,0,17))

0

In [5]:
c.tables['T'].printall()

Table <T>
Primary key: b
['a: int', 'b: int', 'c: int']
2 (1, 2, 3)
5 (1, 5, 3)
12 (1, 12, 100)
13 (2, 13, 100)
176 (5, 176, 100)
15 (2, 15, 100)
124124 (777, 124124, 101242140)

In [6]:
c.tables['K'].printall()

Table <K>
Primary key: c
['a: int', 'b: int', 'c: int']
3 (2, 4, 3)
5 (1, 99, 5)
100 (2, 12, 100)
150 (5, 176, 150)
110 (5, -1, 110)
17 (5, 0, 17)

In [7]:
(q2['ORDERBY'])[0]

['T.a']

In [8]:
def is_val(x):
    try:
        float(x)
        return True
    except:
        return False

def parse_where(s):
    '''
    s is a list of tokens
    '''
    i = 0
    d = {'joins': [], 'conditions': []}
    last_junction = None
    while i < len(s):
        if s[i].upper() in ['AND', 'OR']:
            last_junction = s[i].upper()
            i += 1
        op0, op1, op2 = s[i], s[i+1], s[i+2]
        if is_val(op2):
            if last_junction:
                d['conditions'].append([last_junction, [op0, op1, op2]])
            else:
                d['conditions'].append(['AND', [op0, op1, op2]])
        else:
            d['joins'].append([op0, op1, op2])
        i += 3
    return d

In [9]:
s = 'A.a > 1 AND A.a = B.b AND A.c = 1 or B.d < 56 AND A.e = 1 AND A.g = C.p'
s = s.split()
parse_where(s)

{'joins': [['A.a', '=', 'B.b'], ['A.g', '=', 'C.p']],
 'conditions': [['AND', ['A.a', '>', '1']],
  ['AND', ['A.c', '=', '1']],
  ['OR', ['B.d', '<', '56']],
  ['AND', ['A.e', '=', '1']]]}

In [16]:
from copy import deepcopy

def execute(d: dict, c: Core):
    query = d['query']
    columns = d['columns']
    alias_table = d['tables']
    runtime_dict = c.tables
    
    joins = query['where']['joins']
    conditions = query['where']['conditions']
    select = query['select']
    groupby = query['groupby']
    orderby = query['orderby']
    
    for i in joins:
        '''
        Sample: i = ['A1.a', '=', 'A2.b']
        '''
        #print('\n', i, '\n')
        
        v1, operator, v2 = i[0].split('.'), i[1], i[2].split('.')
        t1 = alias_table[v1[0]]
        t2 = alias_table[v2[0]]
        flag_t1_unmodified = False
        flag_t2_unmodified = False
        
        if isinstance(t1, str):
            t1 = deepcopy(runtime_dict[t1])
            flag_t1_unmodified = True
        if isinstance(t2, str):
            t2 = deepcopy(runtime_dict[t2])
            flag_t2_unmodified = True
        
        if not flag_t1_unmodified:
            c1 = i[0]
        else:
            c1 = v1[1]
        
        if not flag_t2_unmodified:
            c2 = i[2]
        else:
            c2 = v2[1]        
        
        # Assign alias
        t1.name = v1[0]
        t2.name = v2[0]
        
        #print(t1.name, c1, t2.name, c2, v1, operator, v2)
        
        if flag_t1_unmodified and flag_t2_unmodified:
            ret_table = t1._join(t2, [c1, operator, c2], override_colname = Table.OVERRIDE_COLNAME_BOTH)
        elif (not flag_t1_unmodified) and flag_t2_unmodified:
            ret_table = t1._join(t2, [c1, operator, c2], override_colname = Table.OVERRIDE_COLNAME_LAST)
        elif flag_t1_unmodified and (not flag_t2_unmodified):
            ret_table = t1._join(t2, [c1, operator, c2], override_colname = Table.OVERRIDE_COLNAME_FIRST)
        else:
            ret_table = t1._join(t2, [c1, operator, c2], override_colname = Table.OVERRIDE_COLNAME_NONE)
        # Replace A1, A2 with A1 JOIN A2
        alias_table[v1[0]] = ret_table
        alias_table[v2[0]] = ret_table
        # Assume the last join will return the full joined table (?)
        final_table = ret_table
        
        #print(alias_table)
        #final_table.printall()
    
    T, cur_table = final_table, final_table
    #Sample: i = ['AND', ['A1.a', '>', '3']]
    for i in conditions:

        junction, condition = i[0], i[1]
        condition[2] = float(condition[2])
        if junction == 'AND':
            cur_table = cur_table._project(condition)
        else:
            new_t = T._project(condition)
            cur_table = cur_table._union(new_t)

    for i in select:
        aggr_func = i['aggr_func']
        if len(aggr_func) == 0:
            aggr_func = None
        distinct = i['distinct']
        if len(distinct) == 0:
            distinct = None
        
    return cur_table._select()

In [17]:
'''
SELECT A1.a AS a1
FROM T A1, T A2, K B1
WHERE A1.a = A2.b AND A1.a > B1.b AND A1.a = 1 OR A1.a = 2
ORDER BY A1.a
'''

q3 = {
    'query': {
        'select': {
            'columns': ['a1'],
            'aggr_func': [],
            'distinct': [],
        }
        'from': ['A1', 'A2', 'B1'],
        'where': {
            'joins': [['A1.a', '=', 'A2.b'], ['A1.a', '>', 'B1.b']],
            'conditions': [['AND', ['A1.a', '>', '2']], ['OR', ['B1.b', '=', '5']]]
        },
        'groupby': [],
        'orderby': ['A1.a'],
    },
    'tables': {
        'A1': 'T',
        'A2': 'T',
        'B1': 'K',
    },
    'columns': {
        'a1': 'A1.a',
    },
}

In [18]:
execute(q3, c).printall()

Table <1575159109.849827>
Primary key: None
['A1.a: int', 'A1.b: int', 'A1.c: int', 'A2.a: int', 'A2.b: int', 'A2.c: int', 'B1.a: int', 'B1.b: int', 'B1.c: int']
0 (5, 176, 100, 1, 5, 3, 2, 4, 3)
1 (5, 176, 100, 1, 5, 3, 5, -1, 110)
2 (5, 176, 100, 1, 5, 3, 5, 0, 17)

In [13]:
c.tables['T']._union(c.tables['K']).printall()

Table <1575158751.223473>
Primary key: None
['a: int', 'b: int', 'c: int']
0 (1, 2, 3)
1 (1, 5, 3)
2 (1, 12, 100)
3 (2, 13, 100)
4 (5, 176, 100)
5 (2, 15, 100)
6 (777, 124124, 101242140)
7 (2, 4, 3)
8 (1, 99, 5)
9 (2, 12, 100)
10 (5, 176, 150)
11 (5, -1, 110)
12 (5, 0, 17)

In [19]:
c.tables['T'].printall()
c.tables['K'].printall()

Table <T>
Primary key: b
['a: int', 'b: int', 'c: int']
2 (1, 2, 3)
5 (1, 5, 3)
12 (1, 12, 100)
13 (2, 13, 100)
176 (5, 176, 100)
15 (2, 15, 100)
124124 (777, 124124, 101242140)
Table <K>
Primary key: c
['a: int', 'b: int', 'c: int']
3 (2, 4, 3)
5 (1, 99, 5)
100 (2, 12, 100)
150 (5, 176, 150)
110 (5, -1, 110)
17 (5, 0, 17)