In [1]:
from src.table import Table
from core import Core

In [2]:
q1 = {
    'SELECT': [[None, 'a'], [None, 'b']],
    'FROM': ['T'],
    'WHERE': [['a', '=', 1]],
    'ORDERBY': ['a', False],
    'GROUPBY': None,
}
q2 = {
    'SELECT': [[None, 'T.a'], [None, 'T.b'], [None, 'K.a']],
    'FROM': ['T', 'K'],
    'WHERE': [['T.a', '=' ,'K.a']],
    'ORDERBY': [['T.a'], False],
    'GROUPBY': None,
}

In [3]:
c = Core()
c._create_table('T', ['a', 'b', 'c'], ['int', 'int', 'int'], 'b', None)
c._create_table('K', ['a', 'b', 'c'], ['int', 'int', 'int'], 'c', ['b', 'T', 'b', Table.ONDELETE_NOACTION])

0

In [4]:
c.tables['T']._insert((1,2,3))
c.tables['T']._insert((1,5,3))
c.tables['T']._insert((1,12,100))
c.tables['T']._insert((2,13,100))
c.tables['T']._insert((5,176,100))
c.tables['T']._insert((2,15,100))
c.tables['T']._insert((777,124124,101242140))
c.tables['K']._insert((2,4,3))
c.tables['K']._insert((1,99,5))
c.tables['K']._insert((2,12,100))
c.tables['K']._insert((5,176,150))

0

In [5]:
c.tables['T'].printall()

Table <T>
Primary key: b
['a: int', 'b: int', 'c: int']
2 (1, 2, 3)
5 (1, 5, 3)
12 (1, 12, 100)
13 (2, 13, 100)
176 (5, 176, 100)
15 (2, 15, 100)
124124 (777, 124124, 101242140)

In [6]:
c.tables['K'].printall()

Table <K>
Primary key: c
['a: int', 'b: int', 'c: int']
3 (2, 4, 3)
5 (1, 99, 5)
100 (2, 12, 100)
150 (5, 176, 150)

In [10]:
def execute(d: dict, c: Core):
    runtime_dict = c.tables
    for i in d['SELECT']:
        # ignore subqueries in select for now
        pass
    for i in range(len(d['FROM'])):
        if len(d['FROM'][i]) == 2:
            '''
            ['Subquery', 'T1'] <- with alias
            ['Subquery', None] <- without alias
            '''
            alias = d['FROM'][i][1]
            ret_t = execute(d['FROM'][i])
            if alias:
                runtime_dict[alias] = ret_t
            else:    
                runtime_dict[ret_t.name] = ret_t
    if 'SELECT' in d:
        if len(d['FROM']) == 1:
            target_table = c.tables[d['FROM'][0]]
            extract_cols = [i[1] for i in d['SELECT']]
            aggr_func = None
            distinct_flag = None
            for i in d['SELECT']:
                if i[0] and (i[0] != 'DISTINCT'):
                    aggr_func = i
                elif i[0] and (i[0] == 'DISTINCT'):
                    distinct_flag = i
            sel = target_table._select(col_names = extract_cols, distinct = distinct_flag, aggr_func = aggr_func, orderby = d['ORDERBY'], groupby = d['GROUPBY'])
            for i in d['WHERE']:
                sel = sel._project(i)
            return sel
        else:
            conditions = []
            for j in range(len(d['WHERE'])):
                if j == 0:
                    i = d['WHERE'][j]
                    if not isinstance(i[2], int) and not isinstance(i[2], float):
                        t1, col_t1 = (i[0].split('.'))[0], (i[0].split('.'))[1]
                        t2, col_t2 = (i[2].split('.'))[0], (i[2].split('.'))[1]
                        operator = i[1]
                        target_table = c.tables[t1]._join(c.tables[t2], [col_t1, operator, col_t2], mode = 1)
                        runtime_dict[target_table.name] = target_table
                    else:
                        conditions.append(i)
                else:
                    # Requires the join conditions to be in order!
                    i = d['WHERE'][j]
                    if not isinstance(i[2], int) and not isinstance(i[2], float):
                        t1, col_t1 = target_table, i[0]
                        t2, col_t2 = (i[2].split('.'))[0], (i[2].split('.'))[1]
                        operator = i[1]
                        target_table = c.tables[t1]._join(c.tables[t2], [col_t1, operator, col_t2], mode = 1)
                        runtime_dict[target_table.name] = target_table
                    else:
                        conditions.append(i)
            extract_cols = [i[1] for i in d['SELECT']]
            aggr_func = None
            distinct_flag = None
            for i in d['SELECT']:
                if i[0] and (i[0] != 'DISTINCT'):
                    aggr_func = i
                elif i[0] and (i[0] == 'DISTINCT'):
                    distinct_flag = i
            print(extract_cols)
            sel = target_table._select(col_names = extract_cols, distinct = distinct_flag, aggr_func = aggr_func, orderby = d['ORDERBY'], groupby = d['GROUPBY'])
            for i in conditions:
                sel = sel._project(i)
            return sel
    else:
        pass

In [8]:
execute(q1, c).printall()

Table <1575062784.6028237>
Primary key: None
['a: int']
0 (1, 2)
1 (1, 5)
2 (1, 12)

In [9]:
execute(q2, c).printall()

['T.a', 'T.b', 'K.a']
Table <1575062784.9806063>
Primary key: None
['T.a: int', 'T.b: int', 'K.a: int']
0 (1, 2, 1)
1 (1, 5, 1)
2 (1, 12, 1)
3 (2, 13, 2)
4 (2, 13, 2)
5 (2, 15, 2)
6 (2, 15, 2)
7 (5, 176, 5)

In [45]:
(q2['ORDERBY'])[0]

'T.a'