### Keyword Search Unit Test

In [1]:
from core import Core

In [2]:
c = Core()

In [3]:
from src.table import Table

In [4]:
c.trie.search('add123')

False

In [5]:
c.trie.search('=')

'$'

In [6]:
c.trie.startsWith('add')

True

In [7]:
c.trie.startsWith('<')

True

In [8]:
c.trie.startsWith('AND')

True

### Parser Unit Test

In [9]:
list(c.parser._split('SELECT A FROM B WHERE A.b = 123'))

[<Symbol: SELECT, Length: 6, Type: Keyword>,
 <Symbol: A, Length: 1, Type: Identifier>,
 <Symbol: FROM, Length: 4, Type: Keyword>,
 <Symbol: B, Length: 1, Type: Identifier>,
 <Symbol: WHERE, Length: 5, Type: Keyword>,
 <Symbol: A.b, Length: 3, Type: Identifier>,
 <Symbol: =, Length: 1, Type: Operator>,
 <Symbol: 123, Length: 3, Type: Value>]

### Table Unit Test

In [10]:
from src.table import Table

In [11]:
t = Table(col_names = ['a', 'b', 'c'], dtype = ['int', 'int', 'int'], primary_key = 'b', tuples = {3: (1, 3, 9)})

In [12]:
t._insert((1,2,3))
t._insert((1,5,3))
t._insert((1,12,100))

0

In [13]:
k = Table(col_names = ['a', 'b', 'c'], dtype = ['int', 'int', 'int'], primary_key = 'b', tuples = {11: (2, 11, 9)})
k._insert((2,4,3))
k._insert((2,99,3))
k._insert((2,12,100))

0

In [14]:
# dtype conflict
t._insert(('a', 'b', 'c'))

-1

In [15]:
# Primary key conflict
t._insert((1,2,3))

Key not in dist!

-1

In [16]:
t.printall()

Primary key: b
['a: int', 'b: int', 'c: int']
3 (1, 3, 9)
2 (1, 2, 3)
5 (1, 5, 3)
12 (1, 12, 100)

In [17]:
t._project(['b', '>', 2], alias = 'N').printall()

Primary key: None
['b: i']
3 (1, 3, 9)
5 (1, 5, 3)
12 (1, 12, 100)

In [18]:
t._select(['a', 'b'], alias = 'M').printall()

Primary key: None
['a: int', 'b: int']
3 (1, 3)
2 (1, 2)
5 (1, 5)
12 (1, 12)

In [19]:
t._join(k, ['b', '<', 'b'], mode = Table.JOIN_NESTEDLOOP).printall()

Primary key: None
['a: int', 'b: int', 'c: int', 'a: int', 'b: int', 'c: int']
0 (1, 3, 9, 2, 11, 9)
1 (1, 3, 9, 2, 4, 3)
2 (1, 3, 9, 2, 99, 3)
3 (1, 3, 9, 2, 12, 100)
4 (1, 2, 3, 2, 11, 9)
5 (1, 2, 3, 2, 4, 3)
6 (1, 2, 3, 2, 99, 3)
7 (1, 2, 3, 2, 12, 100)
8 (1, 5, 3, 2, 11, 9)
9 (1, 5, 3, 2, 99, 3)
10 (1, 5, 3, 2, 12, 100)
11 (1, 12, 100, 2, 99, 3)

### Core Tests

In [1]:
from core import Core
from src.table import Table
c = Core()

In [2]:
c._create_table('T', ['a', 'b', 'c'], ['int', 'int', 'int'], 'b', None)
c._create_table('K', ['a', 'b', 'c'], ['int', 'int', 'int'], 'c', ['b', 'T', 'b', Table.ONDELETE_NOACTION])

0

In [3]:
c.tables

{'T': <src.table.Table at 0x135d1906438>,
 'K': <src.table.Table at 0x135d1906400>}

In [4]:
c._drop_table('T', True)
c._drop_table('T', True)
c.tables

{'K': <src.table.Table at 0x135d1906400>}