In [1]:
from src.table import Table
from core import Core
from copy import deepcopy

In [2]:
c = Core()
c._create_table('T', ['a', 'b', 'c'], ['int', 'int', 'int'], 'b', None)
c._create_table('K', ['a', 'b', 'c'], ['int', 'int', 'int'], 'c', ['b', 'T', 'b', Table.ONDELETE_NOACTION])

create_script = {
    'name': 'M',
    'col_names': ['a', 'b', 'c', 'd'],
    'dtype': ['int', 'int', 'int', 'int'],
    'primary_key': ['a', 'b'],
    'foreign_key': ['c', 'T', 'a', 'NOACTION'],
    
}
c.execute_create_table(create_script)

0

In [3]:
c.tables['T']._insert((1,2,3))
c.tables['T']._insert((1,5,3))
c.tables['T']._insert((1,12,100))
c.tables['T']._insert((2,13,100))
c.tables['T']._insert((5,176,100))
c.tables['T']._insert((2,15,100))
c.tables['T']._insert((777,124124,101242140))
c.tables['K']._insert((2,2,1))
c.tables['K']._insert((2,4,3))
c.tables['K']._insert((1,99,5))
c.tables['K']._insert((2,12,100))
c.tables['K']._insert((5,176,150))
c.tables['K']._insert((5,-1,110))
c.tables['K']._insert((5,0,17))


insert_script = {
    'insert_into': 'M',
    'values': [
        (1,2,3,4),
        (2,3,4,5),
        (4,5,6,7),
        (6,7,8,9)
    ],
}
c.execute_insert(insert_script)

0

In [4]:
delete_d = {
    'from': 'T',
    'where': ['c', '=', 3]
}
c.execute_delete(delete_d)

Table <K>
Primary key: ['c']
['a: int', 'b: int', 'c: int']
(1,) (2, 2, 1)
(3,) (2, 4, 3)
(5,) (1, 99, 5)
(100,) (2, 12, 100)
(150,) (5, 176, 150)
(110,) (5, -1, 110)
(17,) (5, 0, 17)

-1

In [5]:
c.tables['T'].printall()
c.tables['K'].printall()
c.tables['M'].printall()

Table <T>
Primary key: ['b']
['a: int', 'b: int', 'c: int']
(2,) (1, 2, 3)
(5,) (1, 5, 3)
(12,) (1, 12, 100)
(13,) (2, 13, 100)
(176,) (5, 176, 100)
(15,) (2, 15, 100)
(124124,) (777, 124124, 101242140)
Table <K>
Primary key: ['c']
['a: int', 'b: int', 'c: int']
(1,) (2, 2, 1)
(3,) (2, 4, 3)
(5,) (1, 99, 5)
(100,) (2, 12, 100)
(150,) (5, 176, 150)
(110,) (5, -1, 110)
(17,) (5, 0, 17)
Table <M>
Primary key: ['a', 'b']
['a: int', 'b: int', 'c: int', 'd: int']
(1, 2) (1, 2, 3, 4)
(2, 3) (2, 3, 4, 5)
(4, 5) (4, 5, 6, 7)
(6, 7) (6, 7, 8, 9)

In [6]:
query = '''SELECT A1.a AS a1, A2.c
FROM T A1, T A2, K B1
WHERE A1.a = A2.b
ORDER BY A1.a DESC, A2.c'''

q1 = c.parser.parse(query)
q1

{'query': {'select': {'columns': ['a1', 'a2.c'],
   'aggr_func': [],
   'distinct': []},
  'from': ['a1', 'a2', 'b1'],
  'where': {'joins': [['a1.a', '=', 'a2.b']], 'conditions': []},
  'groupby': [],
  'orderby': [['a1.a', False], ['a2.c', True]]},
 'tables': {'a1': 't', 'a2': 't', 'b1': 'k'},
 'columns': {'a1': 'a1.a', 'a2.c': 'a2.c'}}

In [10]:
query = '''
SELECT A1.a AS a1, A2.c, B1.b
FROM T A1, T A2, K B1
WHERE A1.a = A2.b AND A1.a > B1.b
ORDER BY B1.b DESC
'''

q3 = c.parser.parse(query)

print(q3)

'''
SELECT SUM(a) AS a1
FROM T
GROUP BY a, c
ORDER BY a
'''

q4 = {
    'query': {
        'select': {
            'columns': ['a1', 'b' ,'c'],
            'aggr_func': ['sum', 'a1'],
            'distinct': [],
        },
        'from': ['T'],
        'where': {
            'joins': [],
            'conditions': []
        },
        'groupby': ['b', 'c'],
        'orderby': [['a'], True],
    },
    'tables': {
        'T' : 'T',
    },
    'columns': {
        'a1': 'a',
        'b': 'b',
        'c': 'c',
    },
}

q5 = {
    'query': {
        'select': {
            'columns': ['*'],
            'aggr_func': [],
            'distinct': [],
        },
        'from': ['T'],
        'where': {
            'joins': [],
            'conditions': []
        },
        'groupby': [],
        'orderby': [],
    },
    'tables': {
        'T' : 'T',
    },
    'columns': {
        'a': 'a',
        'b': 'b',
        'c': 'c',
    },
}

{'query': {'select': {'columns': ['a1', 'a2.c', 'b1.b'], 'aggr_func': [], 'distinct': []}, 'from': ['a1', 'a2', 'b1'], 'where': {'joins': [['a1.a', '=', 'a2.b'], ['a1.a', '>', 'b1.b']], 'conditions': []}, 'groupby': [], 'orderby': [['b1.b', False]]}, 'tables': {'a1': 't', 'a2': 't', 'b1': 'k'}, 'columns': {'a1': 'a1.a', 'a2.c': 'a2.c', 'b1.b': 'b1.b'}}

In [11]:
c.execute_select(q1).printall()

[0, 1] [-1, 1] [['a1.a', False], ['a2.c', True]] ['a1.a', 'a1.b', 'a1.c', 'a2.a', 'a2.b', 'a2.c', 'a1.a', 'a1.b', 'a1.c', 'a2.a', 'a2.b', 'a2.c']
Table <1575256784.943402>
Primary key: []
['a1: int', 'a2.c: int']
0 (5, 3)
1 (2, 3)

In [12]:
c.execute_select(q3).printall()

[2] [-1] [['b1.b', False]] ['a1.a', 'a1.b', 'a1.c', 'a2.a', 'a2.b', 'a2.c', 'b1.a', 'b1.b', 'b1.c']
Table <1575256785.2886264>
Primary key: []
['a1: int', 'a2.c: int', 'b1.b: int']
0 (5, 3, 4)
1 (5, 3, 2)
2 (2, 3, 0)
3 (5, 3, 0)
4 (2, 3, -1)
5 (5, 3, -1)

In [13]:
another_q4 = deepcopy(q4)
c.execute_select(q4).printall()
c.execute_select(another_q4).formatout()

TypeError: 'bool' object is not subscriptable

In [ ]:
another_q5 = deepcopy(q5)
c.execute_select(q5).printall()
c.execute_select(another_q5).formatout()

In [ ]:
c.tables['T']._union(c.tables['K']).printall()

In [ ]:
c.tables['T']._join(c.tables['T'], ['a', '=', 'b'], override_colname = Table.OVERRIDE_COLNAME_BOTH).printall()

In [ ]:
c.tables['T'].printall()
c.tables['K'].printall()