In [1]:
from src.table import Table
from core import Core
from copy import deepcopy

### Load DB file

In [2]:
c = Core()
c.head_lines = 5
c.return_time = True
c.printall = False
c._load_db('test.db')

0

In [3]:
q = '''
use defaultdb
'''
c.handler(q)

Executing queries takes 0.0 seconds.

### Simple queries

In [4]:
q = '''
SELECT * FROM A
'''
print(c.parser.parse(q))
c.handler(q)

{'type': 'select', 'query': {'select': {'columns': ['*'], 'aggr_func': [], 'distinct': []}, 'from': ['a'], 'where': {'joins': [], 'conditions': []}, 'groupby': [], 'orderby': []}, 'tables': {'a': 'a'}, 'columns': {'*': '*'}, 'subquery': {}}
Table <1575308413.4230125>
2 columns, 1000 rows
['a', 'b']
(1, 1)
(2, 1)
(3, 1)
(4, 1)
(5, 1)
Executing queries takes 0.44866085052490234 seconds.

In [ ]:
q = '''
DROP TABLE
'''

### Joins

In [4]:
q = '''
SELECT *
FROM A
WHERE a = 5
'''

print(c.parser.parse(q))

#c.tables['a']._project(['a', '=', 5]).printall()
c.handler(q)

{'type': 'select', 'query': {'select': {'columns': ['*'], 'aggr_func': [], 'distinct': []}, 'from': ['a'], 'where': {'joins': [], 'conditions': [['and', ['a', '=', '5']]]}, 'groupby': [], 'orderby': []}, 'tables': {'a': 'a'}, 'columns': {'*': '*'}, 'subquery': {}}
Table <1575309413.1992478>
2 columns, 1001 rows
['a', 'b']
(1, 1)
(2, 1)
(3, 1)
(4, 1)
(5, 1)
Executing queries takes 0.45006847381591797 seconds.

In [ ]:
q = '''
SELECT *
FROM A A1, A A2
WHERE A1.a > A2.a
'''
c.handler(q)

In [ ]:
q = '''
SELECT A.a, C.a
FROM A, C
WHERE A.a > C.a
'''
c.handler(q)

### Index

In [ ]:
q = '''
CREATE INDEX a1 ON C (a)
'''
c.handler(q)

In [ ]:
q = '''
SELECT A.a, C.a
FROM A, C
WHERE A.a > C.a
'''
c.handler(q)

### Create table & Foreign key constraints

In [ ]:
q = '''
CREATE TABLE E (
    a int, 
    b int,
    PRIMARY KEY (b),
    FOREIGN KEY a REFERENCES A(a) ON DELETE CASCADE,
);
CREATE TABLE F (
    a int, 
    b int,
    PRIMARY KEY (b),
    FOREIGN KEY a REFERENCES B(a) ON DELETE NO ACTION,
)



'''
c.handler(q)

In [ ]:
q = '''
INSERT INTO E
VALUES (1, 2);

INSERT INTO F
VALUES (2, 5)
'''
c.handler(q)

In [ ]:
q = '''
DELETE FROM A
WHERE a = 1
'''
c.handler(q)

In [ ]:
q = '''
SELECT * FROM A;

SELECT * FROM E
'''
c.handler(q)

In [ ]:
q = '''
DELETE FROM B
WHERE a = 2
'''
c.handler(q)

In [ ]:
q = '''
SELECT * FROM B;
SELECT * FROM F
'''
c.handler(q)

In [ ]:
q = '''
SELECT A.a, B1.b
FROM A, (SELECT *
FROM B) B1
WHERE A.a = B1.a
'''

print(c.parser.parse(q))
c.handler(q)

In [ ]:
q = '''
SELECT A.a, B.b
FROM A, B
WHERE A.a = B.a
'''
c.handler(q)