In [11]:
from core import Core
import time

In [12]:
c = Core()

In [19]:
query = '''
CREATE TABLE E (
    a int, 
    b int,
    PRIMARY KEY (b),
    FOREIGN KEY a REFERENCES A(a) ON DELETE CASCADE,
)

'''

q0 = c.parser.parse(query)
print(q0)

{'type': 'create_table', 'name': 'e', 'col_names': ['a', 'b'], 'dtype': ['int', 'int'], 'primary_key': ['b'], 'foreign_key': [[['a'], 'a', ['a'], 1]]}

In [9]:
query = '''
INSERT INTO E
VALUES (5, 7)
'''

q0 = c.parser.parse(query)
print(q0)
c.handler(query)
c.tables['e'].printall()

{'type': 'insert', 'insert_into': 'e', 'values': [5, 7]}
Table <e>
Primary key: []
['a: int', 'b: int']
(1,) (5, 7)
(2,) (5, 7)
(3,) (5, 7)
(4,) (5, 7)

In [ ]:
c = Core()
c._create_table('A', ['a', 'b'], ['int', 'int'], None, None)
c._create_table('B', ['a', 'b'], ['int', 'int'], None, None)
c._create_table('C', ['a', 'b'], ['int', 'int'], None, None)
c._create_table('D', ['a', 'b'], ['int', 'int'], None, None)

In [ ]:
query = '''INSERT INTO A VALUES
(5, 7)
'''

q1 = c.parser.parse(query)
print(q1)
print(c.execute_insert(q1))
c.tables['A'].printall()

In [ ]:
query = '''SELECT A1.a AS a1, A2.c
FROM T A1, T A2, K B1
WHERE A1.a = A2.b
ORDER BY A1.a DESC'''

q1 = c.parser.parse(query)
q1

In [ ]:
for i in range(1, 1001):
    c.tables['A']._insert((i, i))
    c.tables['B']._insert((i, 1))
for i in range(1, 10001):
    c.tables['C']._insert((i, i))
    c.tables['D']._insert((i, 1))
c.tables['A'].printall()

In [ ]:
c.execute_select(q0).printall()

In [ ]:
'''
SELECT *
FROM A, B
WHERE A.a = C.a
'''

join_script = {
    'query': {
        'select': {
            'columns': ['A.a', 'A.b', 'C.a', 'C.b'],
            'aggr_func': [],
            'distinct': [],
        },
        'from': ['A', 'B'],
        'where': {
            'joins': [['A.a', '>', 'C.a']],
            'conditions': []
        },
        'groupby': [],
        'orderby': [],
    },
    'tables': {
        'A': 'A',
        'C': 'C',
    },
    'columns': {
        'A.a': 'A.a',
        'A.b': 'A.b',
        'C.a': 'C.a',
        'C.b': 'C.b',
    },
}
t = time.time()
r = c.execute_select(join_script)
print(time.time() - t)
r.head()

In [ ]:
'''
SELECT *
FROM B B1, C C2
WHERE B1.a = C2.a
'''

join_script = {
    'query': {
        'select': {
            'columns': ['B.a', 'B.b', 'C.a', 'C.b'],
            'aggr_func': [],
            'distinct': [],
        },
        'from': ['B','C'],
        'where': {
            'joins': [['B.a', '=', 'C.a']],
            'conditions': []
        },
        'groupby': [],
        'orderby': [],
    },
    'tables': {
        'B': 'B',
        'C': 'C',
    },
    'columns': {
        'B.a': 'B.a',
        'B.b': 'B.b',
        'C.a': 'C.a',
        'C.b': 'C.b',
    },
}
c.execute_select(join_script).printall()

In [ ]:
'''
SELECT SUM(a)
FROM A
'''

join_script = {
    'query': {
        'select': {
            'columns': ['a'],
            'aggr_func': ['sum', 'a'],
            'distinct': [],
        },
        'from': ['A'],
        'where': {
            'joins': [],
            'conditions': []
        },
        'groupby': [],
        'orderby': [],
    },
    'tables': {
        'A': 'A',
    },
    'columns': {
        'a': 'a',
    },
}
c.execute_select(join_script).printall()